{% macro objectTable(keys, records) %}

<table>
  <thead>
    <tr>
      {% for key in keys %}
      <th>{{ key }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for record in records %}
    <tr>
      {% for key in keys %} {% set value = record[key] %}
      <td>
        {% if (value|isArray) and value.length > 0 %} {% set first = value[0] %} {% set keys = first | keys %} {{
        objectTable(keys, value) }} {% else %} {{ value }} {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endmacro %}
