<!--
  ~ (c) 2024 Alberto Marchetti (info@cmaster11.me)
  ~ GNU General Public License v3.0+ (see COPYING or https://www.gnu.org/licenses/gpl-3.0.txt)
  -->

<html>
<head>
    <title>kiwi-provider</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
    <script src="//unpkg.com/alpinejs" defer></script>
    <script defer src="https://cdn.jsdelivr.net/gh/hankhank10/alpine-fetch@main/alpine-fetch.js"></script>

    {% block head %} {% endblock %}
</head>
</html>

<body>
{% block body %} {% endblock %}
</body>
